:root{
    --background: #000000;
    --subtle_text: #ffffff;
}



@font-face {
    font-family: opensans;
    src: url(OpenSans-VariableFont_wdth,wght.ttf);
}


html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--background);
}


#dropdown-container{
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 15px;
}

#hamburger-menu{
    filter: invert(0.75);
    scale: 2.0;
    margin-bottom: 10px;
}

#hamburger-menu:hover{
    scale: 2.2;
}

.option{
    width: 150px;
    height: auto;
    background-color: #ffffff38;
    color:  var(--subtle_text);
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 5px;
    margin-left: 5px;
}

.option:hover{
    background-color: #ffffff85;
}

.active{
    background-color: #365a83 !important;
}


.page{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    font-family: opensans;
    font-weight: normal;
}

#coordinates-container{
    color: var(--subtle_text);
    width: auto;
    height: auto;

    position: absolute;
    bottom: 15px;
    left: 15px;

}